
 


<div class="archPic"></div>


<div class="jumbotron vertical-center mainJumbo row">
  <div class="container row">
    <ul class="nav nav-tabs" id="#myTab">
      <li class="active"><a data-toggle="tab" href="#allStreams">All</a></li>
      <li><a data-toggle="tab" href="#onlineStreams">Online</a></li>
      <li><a data-toggle="tab" href="#offlineStreams">Offline</a></li>
    </ul>

    <div class="container" id="inputDiv">
      <input id="searchTerm" type="text" placeholder="Search Twitch" required>
      <input class="buttons" id="searchButton" type="button" value="Search">
    </div>



    <div class="tab-content">
      <div id="allStreams" class="tab-pane fade in active">
        <p class="logo"></p>
        <h3 class="channelName"></h3>
        <p class="status"></p>
      </div>

      <div id="onlineStreams" class="tab-pane fade">
        <p class="logo"></p>
        <h3 class="#">onlineStreamsersChannelNameHere</h3>
        <p class="status"></p>
      </div>
      

      <div id="offlineStreams" class="tab-pane fade">
        <p class="logo"></p>
          <h3 class="channelName"></h3></p>
	  <p class="status"></p>
          <p></p>
      </div>
      
    </div{{! >end of tab-content div }}
    
<div class=""


  </div>
</div>

    




